<form method="post" enctype="multipart/form-data" action="http://localhost:5000/api/visit-report/insert-excel">
    
    <input type="file" name="filename">
     
    <input type="submit" value="UPLOAD">
 
 </form>
 